* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.desc {
  color: #767e7e;
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: normal;
}

.label {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

h2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.34; /* 133.333% */
}

.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 186px;
  line-height: 68px;
  text-align: center;
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  opacity: 0.9;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header.fixed {
  position: sticky;
  top: -44px; /* Roll until 8px top left, then stick the header at same place 52 - 8 */
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0 8px;
}

.nav {
  margin-left: auto;
}

.header .nav ul {
  display: flex;
}

.nav a {
  padding: 8px 20px;
  color: #2f3a3b;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  font-weight: 600;
}

.body .action {
  margin-left: 157px;
}

.action .sign-in-btn {
  margin-right: 24px;
  color: #494949;
  font-family: Poppins;
  font-size: 1.6rem;
}

.action .sign-in-btn:hover {
  color: #2f3a3b;
  font-weight: 600;
}

.action .sign-up-btn {
  min-width: 108px;
  line-height: 48px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.action .sign-up-btn {
  font-weight: 600;
}

.action .sign-up-btn:hover {
  color: #fff;
  background: var(--primary-color);
  opacity: 0.9;
}

/* Hero */
.hero {
  padding: 42px 0 79px;
}

.hero .body {
  display: flex;
}

/* Hero Left */
.hero .content-block {
  width: 40%;
  padding: 93px 0 0;
}
.content-block .heading {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}

.content-block .desc.content-desc {
  margin-top: 46px;
  width: 374px;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.hero .start-btn {
  margin-right: 50px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero .watch-video {
  cursor: pointer;
  width: 120px;
  height: 120px;
}

/* Hero Right */
.hero .media-block {
  position: relative;
  width: 60%;
  padding: 0 0 0 136px;
}

.hero .media-block .img {
  width: 576px;
  height: 631px;
  max-width: 100%;
  object-fit: cover;
}

.hero .media-item .icon-1 {
  position: absolute;
  top: 149px;
  left: 96px;
  width: 157px;
  height: 75px;
  padding: 17px 25px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-item .icon-2 {
  position: absolute;
  top: 382px;
  left: -2px;
}

.hero .avatar-block {
  position: absolute;
  top: 500px;
  right: 45px;
  width: 207px;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.avatar-block .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.avatar-block .avatar-group {
  display: flex;
  margin-top: 8px;
}

.avatar-group .avatar {
  width: 33px;
  height: 33px;
  margin-left: -7px;
  border-radius: 50%;
  object-fit: cover;
  /* For avatar LETTER with default color*/
  line-height: 33px; /* Same height with avatar above*/
  background: #1ebfc1;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.avatar-group .avatar:first-child {
  margin-left: 0;
}

/* Features */
.features {
  margin-top: 130px;
}

.feature-info .title {
  margin: 18px 0;
  width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.34; /* 133.333% */
}

.feature-info .desc {
  width: 590px;
  font-size: 1.8rem;
}

.feature-item {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.item .label {
  margin: 26px 0 16px 0;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.item .desc {
  width: 224px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69; /* 168.75% */
}

/* Course */
.courses {
  margin-top: 130px;
}

.course-intro .title {
  margin: 18px 0;
}

.course-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-intro .desc {
  width: 525px;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.course-intro .course-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.course-list {
  display: flex;
  gap: 47px;
  margin-top: 79px;
}

.course-list .course-item {
  flex: 1;
  position: relative;
}

.course-item .img-course img {
  width: 100%;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.7;
  background: #d0efed;
}

.course-item .course-info {
  position: absolute;
  left: 17px;
  bottom: -124px;
  width: 325px;
  height: 195px;
  padding: 18px 25px 29px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-info h3 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.course-info .fee {
  margin: 16px 0 6px;
  color: #767e7e;
  font-size: 1.6rem;
}

.course-info strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.course-info .desc {
  color: #9da6a5;
}

.class-info {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.class-info .class {
  margin-right: 10px;
}

.class-info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 10px;
  background: #1ebfc1;
}

/* Stats */
.stats {
  margin-top: 265px;
}

.stats .body {
  display: flex;
  justify-content: space-between;
  width: 862px;
  margin: 0 auto;
}

.stat-item .report-num {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
}

.stat-item .label {
  margin-top: 11px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
